.hero {
    @include flex-center;
    border-bottom: 1px solid $periwinkle;
    width: 60%;
    margin: 0 auto;
    min-height: 25vh;

    &__text {
        @include flex;
        @include flex-column;
        @include flex-h-around;
        text-align: center;

        h1 {
            margin-top: rem-calc(20);
        }

        h1, p, .hero__divider {
            margin-bottom: rem-calc(20);
        }
    }
}

#hero__skills {
    color: $maximum-purple;
    font-weight: bold;
}