@keyframes fade-in-from-left {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero-sidebar {
    @include flex;
    @include flex-column;
    position: fixed;
    left: 0;
    background-color: $off-yellow;
    
    padding-right: 1%;
    padding-left: rem-calc(20);
    
    height: 100%;
    width: 20%;
    
    z-index: 100;
    
    justify-content: center;

    animation: fade-in-from-left 1s forwards;

    &__text {
        align-self: flex-end;
        text-align: right;

        h1 {
            font-size: rem-calc(50);
            margin-top: rem-calc(20);
        }

        h3 {
            font-weight: $regular;
        }

        hr {
            @include hr;
            margin-left: 10%;
            
            width: 90%;
        }
    }

        &__description {
            font-size: rem-calc(28);
            font-style: italic;
            margin-bottom: rem-calc(30);
            text-align: center;
        }

        &__skills {
            color: $black;
            font-size: rem-calc(24);
            text-align: center;
        }

    &__footer {
        margin-top: rem-calc(70);
        text-align: center;
    }
}