.hero {
    @include flex-center;
    height: 25vh;
    background-color: $grey;
    
    &__hr {
        width: 100%;
        height: 1px;
        color: $white;
    }
    
    &__text {
        @include flex;
        @include flex-column;
        @include flex-h-around;
        text-align: center;

        h1 {
            line-height: 1.4;
            color: $white;
        }

        h3 {
            color: $grey-xdark;
            line-height: 1.7;
        }
    }

}