// KEYFRAMES

@keyframes image-appear {
    0% {
        opacity: 0;
    }

    100% {
        transform: scale(1.01);
        opacity: 1;
    }
}

@keyframes fade-in-from-right {
    0% {
        transform-origin: right;
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


// CLASSES
.homepage-navbar {
    @include flex;
    @include flex-column;
    @include flex-h-center;
    height: 100vh;
    width: 80%;

    animation: fade-in-from-right 1s forwards;

    &__headshot {
        background: url('../assets/images/photos/headshot.jpg');
        background-size: cover;
        height: 40vh;
        width: 40vh;
        
        opacity: 0;
        
        position: absolute;
        left: 35%;
        top: 5%;

        z-index: -1;

        &.active--about {
            animation: image-appear 1s forwards;
        }

        &::after {
            @include gradient(linear-gradient, 0deg, $ocean, transparent, 0);
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            z-index: 1;
        }
    }

    &__projects {
        background-repeat: no-repeat;
        height: 40vh;
        width: 40vw;

        opacity: 0;
        position: relative;

        &.active--projects {
            animation: image-appear 1s forwards;
        }

        &--revonew {
            @extend .homepage-navbar__projects;
            background: url('../assets/images/photos/revonew.png');
            background-size: cover;
            margin-left: rem-calc(40);
            margin-bottom: rem-calc(40);

            align-self: flex-start;

            &::after {
                @include gradient(linear-gradient, 0deg, $ocean, transparent, 0);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
    
                height: 100%;
                width: 100%;
    
                z-index: 1;
            }
        }

        &--justbikes {
            @extend .homepage-navbar__projects;
            background: url('../assets/images/photos/justbikes.png');
            background-size: cover;
            margin-top: rem-calc(40);
            margin-right: rem-calc(40);

            align-self: flex-end;

            &::after {
                @include gradient(linear-gradient, 180deg, $ocean, transparent, 0);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
    
                height: 100%;
                width: 100%;
    
                z-index: 1;
            }
        }
    }
}

.navbar {
    @include flex;
    @include flex-v-center;
    @include flex-h-between;
    margin: 0 auto;

    &__item {
        @include flex;
        @include flex-column;
        position: relative;
        text-align: center;
    }

    &__link {
        background-color: $off-yellow;
        border-radius: 20px;
        box-shadow: 5px 5px 4px rgba($dark-brown, 0.7);
        padding: rem-calc(10 20);
        // margin: rem-calc(0 100);

        a {
            color: $dark-brown;
            transition: 0.2s;

            &:hover {
                color: $dark-brown;
            }
        }

        &:after {
            height: 3px;
            width: 3px;
            background-color: $black;
        }
    }
}

#navbar__svg {
    position: absolute;
    fill: $white;
    right: 20%;
    bottom: rem-calc(100);
}