@keyframes image-appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.homepage-navbar {
    @include flex;
    @include flex-column;
    @include flex-h-center;
    height: 100vh;
    width: 100%;

    &__projects {
        background: url('../assets/images/photos/revonew.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: rem-calc(40);
        margin-bottom: rem-calc(40);
        height: 40vh;
        width: 40vw;

        align-self: flex-start;

        position: relative;

        opacity: 0;

        &.active {
            animation: image-appear 1s forwards;
        }

        &::after {
            @include gradient(linear-gradient, 0deg, $ocean, transparent, 0);
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            z-index: 1;
        }
    }

    &__justbikes {
        background: url('../assets/images/photos/justbikes.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: rem-calc(40);
        margin-top: rem-calc(40);
        height: 40vh;
        width: 40vw;

        align-self: flex-end;

        position: relative;
        opacity: 0;

        &.active {
            animation: image-appear 1s forwards;
        }


        &::after {
            @include gradient(linear-gradient, 180deg, $ocean, transparent, 0);
            content: '';
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            z-index: 1;
        }
    }
}

.navbar {
    @include flex;
    @include flex-v-center;
    @include flex-h-between;
    margin: 0 auto;

    &__item {
        @include flex;
        @include flex-column;
        position: relative;
        text-align: center;
    }

    &__link {
        border: 1px solid $white;
        border-radius: 20px;
        padding: rem-calc(10 20);
        margin: rem-calc(0 100);

        a {
            color: $white;
            transition: 0.2s;

            &:hover {
                color: $off-yellow;
            }
        }

        &:after {
            height: 3px;
            width: 3px;
            background-color: $black;
        }
    }
}

#navbar__svg {
    max-height: 30vh;
    position: absolute;
    fill: $white;
    right: 30%;
    bottom: 130%;
}