// Styling the <nav> itself
nav {
    @include flex-center;
    height: 75vh;
}

// Fade in for image 
.fade-in-enter-active, .fade-in-leave-active {
    transition: opacity .2s ease-in-out;
}

.fade-in-enter, .fade-in-leave-to {
    opacity: 0;
}


.navbar {
    @include flex-center;
    width: 100%;

    &__image {
        max-width: rem-calc(500);
        position: absolute;
        right: -75%;
        bottom: 100%;
        opacity: 0.6;
    }

    &__item {
        @include flex;
        @include flex-column;
        position: relative;

        &--reverse {
            @include flex;
            flex-direction: column-reverse;
        }
    }

    &__link {
        padding: rem-calc(0 100%);
        
        a {
            color: $header-font-color;
            transition: 0.2s ease-in-out;

            &:hover {
                color: $grey;
            }
        }
    }

    &__text {
        color: $grey-light;
        
    }
}