@keyframes lengthen-box {
    0% {
        height: 40vh;
    }

    100% {
        height: 80vh;
    }
}


.project-showcase {
    background-image: url('../assets/images/photos/background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;

    h2 {
        padding: rem-calc(40 40 20 40);
        font-family: "Source Sans Pro SemiBold", sans-serif;
    }

    hr {
        @include hr;
    }

    &__item {
        background-color: $off-yellow;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: rem-calc(20);
        max-width: 35vw;

        animation: lengthen-box 2s forwards;

        h3 {
            font-family: "Source Sans Pro Regular", sans-serif;
            margin-top: rem-calc(20);
        }
    }

    &__projects {
        @include flex;
        @include flex-h-around;
    }

    &__picture {
        height: 40vh;
    }

    &__project-desc {
        font-family: "Source Sans Pro Regular", sans-serif;

        animation: fade-in 2.5s forwards;
    }
}