@font-face {
    font-family: "Oxygen Bold";
    src: local('Roboto'), url("../../fonts/Oxygen-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Oxygen Light";
    src: local('Oxygen Light'), url("../../fonts/Oxygen-Light.ttf") format("ttf");
}

@font-face {
    font-family: "Oxygen Regular";
    src: local('Oxygen Regular'), url("../../fonts/Oxygen-Regular.ttf") format("ttf");
}