// Resets

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


button {
    background-color: transparent;
}

button:focus {
    outline: none;
}

// Base styles
body {
    color: $body-font-color;
    height: 100vh;
}

// Body colour variants



h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

p {
    @include p;
}

small {
    @include small;
}


// Base container used for almost all elements on the website
.container {
    @include responsive(max-width, $small, $medium, $large);
    margin: 0 auto;
    width: 100%;


    &--basic {
        @include flex;
    }

    &--center-vh {
        @include flex;
        @include flex-h-center;
        @include flex-v-center;
    }

    &--between {
        @include flex;
        @include flex-h-between;
    }

    &--between-center {
        @include flex;
        @include flex-h-between;
        @include flex-v-center;
    }

    // Section containers
    &--home {
        @include gradient(linear-gradient, 140deg, $camel, $deep-space-faded, 0.4);
        height: 100vh;
    }

    &--router {
        // Initial state upon page load
        display: none;
    }
}