// Resets

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


button {
    background-color: transparent;
}

button:focus {
    outline: none;
}

// Base styles
body {
    // Todo: need to debug mixin
    // @include gradient(linear-gradient, 0deg, $deep-space, $periwinkle, 0.8);


    height: 100vh;
    color: $body-font-color;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

p {
    @include p;
}

small {
    @include small;
}


// Base container used for almost all elements on the website
.container {
    margin: 0 auto;
    width: 100%;

    @include responsive(max-width, $small, $medium, $large);

    &--basic {
        @include flex;
    }

    &--center-vh {
        @include flex;
        @include flex-h-center;
        @include flex-v-center;
    }

    &--between {
        @include flex;
        @include flex-h-between;
    }

    &--between-center {
        @include flex;
        @include flex-h-between;
        @include flex-v-center;
    }

    // Section containers
    &--home {
        background-color: $deep-space-faded;
        height: 100vh;
    }

    &--router {
        // Initial state upon page load
        display: none;
    }
}